<% provide(:title, 'Home') %>

<!--<html>
  <head>
    <title>GPNA Membership | Home</title>
  </head>
  <body>-->
  <div class="container-fluid">
  <div class="page-header">
    <h1>Garfield Park Neighborhoods Association</h1>
       </div>
       <div class="row-fluid">
       <div class="span4 pagination-centered">
       <h2>Total members</h2>
       <span id="sumnum-1"><%= @totalMembers %></span>
       </div>
       <div class="span4 pagination-centered">
       <h2>YTD New Members</h2>
       <span id="sumnum-2"><%= @YTDMembers.count %></span>
       </div>
       <div class="span4 pagination-centered">
  	   <h2>YTD Donations</h2>
  	   <span id="sumnum-3"> $<%= @YTDDonations.sum('amount') %></span>
  	   </div>
    </div>
    </br></br>
      <div class="row-fluid">

      <div class="span6">
      <h3>Newest Members</h3>
      <table class="table table-responsive">
      <tr>
      <th>Member</th>
      <th>Join Date</th>
      </tr>
      <% @newMembers.each do |mem| %>
  		<tr>
  		   <td><%= mem.display_name %></td>
  		   <td><%= mem.joindate %></td>
  		</tr>
	  <% end %>
       </table>
       </div>

      <div class="span6">
       <h3>Upcoming Events</h3>
       <table class="table table-responsive">
      <tr>
      <th>Event</th>
      <th>Date</th>
      </tr>
      <% @upcomingEvents.each do |evt| %>
  		<tr>
  		   <td><%= evt.eventtitle %> </td>
  		   <td><%= evt.eventdate.strftime("%B %e") %> </td>
  		</tr>
	  <% end %>
       </table>
       </div>
         <div class="clearfix visible-xs"></div>

       </div>
    </div>
