<% provide(:title, 'Reports') %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <div class="row-fluid">
    <h1>Reports</h1>
    </div>
    <div class="row-fluid">
    <ul class="nav nav-tabs">
    <li class="active"><%= link_to 'Donations',  '/reports' %></li>
    <li><%= link_to 'Members',  '/newmembers' %></li>
    <li><%= link_to 'Subscriptions',  '/subscriptions' %></li>
   </ul>
   </div>

   
  <div class="row-fluid">
    <h3>Donations by Year</h3>
    </div>
    <div class="row-fluid">
    <div class="span6">
	<h2>Yearly Totals</h2>
      <table class="table table-condensed">
      <% @yearly_donations_sum.each do |year, total| %>
	  <tr>
	    <td> <%= year %> </td>
	    <td>$<%= total %></td>
	  </tr>
	<% end %>
       </table>
       </div>

	<div class="span6">
	<h2>Year by Year</h2>
    <%= column_chart yearly_donations_chart_path, colors: ["#449BF3","#6C9C0E"]%>
    </div>
    </div>
  <div class="row-fluid">
    <h3>Donations by Month</h3>
    </div>
    <div class="row-fluid">
   	<div class="span4 pagination-centered">
  	<h2>MTD Donations</h2>
   	<span id="sumnum-3"> $<%= @MTDDonations.sum('amount') %></span>
    </div>
    <div class="span8">
      <h2>Monthly Totals</h2>
      <table class="table table-condensed">
      <% @monthly_donations_sum.each do |month, total| %>
	  <tr>
	    <td> <%= month %> </td>
	    <td>$<%= total %></td>
	  </tr>
	<% end %>
       </table>
       </div>
       </div>
