<% provide(:title, 'Reports') %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<!DOCTYPE html>
<html>
  <head>
   
  </head>
  <body>
    <h1>GPNA Membership Site</h1>
    <h3>Donation Totals</h3>
    <h2>Monthly Donations</h2>
      <table class="table table-condensed">
      <% @monthly_donations.each do |month, stats| %>
	  <tr>
	    <td> <%= month %> </td>
	    <td>
	      <% count_array = stats.collect{|i| i.amount}%>
	      <%= count_array.sum %>
	    </td>
	  <tr>
	<% end %>
       </table>

	<h2>Yearly Donations</h2>
      <table class="table table-condensed">
      <% @yearly_donations.each do |year, stats| %>
	  <tr>
	    <td> <%= year %> </td>
	    <td>
	      <% count_array = stats.collect{|i| i.amount}%>
	      <%= count_array.sum %>
	    </td>
	  <tr>
	<% end %>
       </table>

       
        <%= pie_chart member_types_charts_path, colors: ["#449BF3","#6C9C0E","#9B4379","#CD4536"] %>

<%= column_chart yearly_donations_charts_path, colors: ["#449BF3","#6C9C0E","#9B4379","#CD4536"] %>

<%= column_chart Donation.group_by_year(:donationdate).sum(:amount) %>

  </body>
</html>