<%= simple_form_for(@event, html: {class: 'form-horizontal' }) do |f| %>

    <%= f.input :eventtitle  %>
   
   <%= f.input :eventlocation  %>

   <%= f.input :eventdate, :as => :string, :input_html => { data: {behaviour: "datepicker"} }, label_html: {id: 'datepicker'}  %>

   <%= f.input :eventdescription, as: :text %>
   
    <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>