<%= simple_form_for([@member, @donation], html: {class: 'form-horizontal' }) do |f| %>

    <%= f.input :amount  %>

   <%= f.input :donationdate, :as => :string, :input_html => { data: {behaviour: "datepicker"} }, label_html: {id: 'datepicker'}  %>

   <%= f.input :note  %>
   
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                member_path(@member), :class => 'btn' %>
  </div>
<% end %>
