<%- model_class = Donation -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= form_for @donation, :url => member_donations_path(params[:member_id]), :html => { :class => 'form-horizontal'}  do |f| %>
<div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label :donationdate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :donationdate, :class => 'text_field', 'data-behaviour' => 'datepicker' %>
   </div>
   </div>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :note, :class => 'text_field' %>
    </div>
  </div>
   <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
