<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<%= render 'layouts/header' %>

    <div class="container-fluid">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>