<%= form_for @member, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :membertype, :class => 'control-label' %>
    <div class="controls">
     <%= f.select :membertype, Member::MEMBER_TYPES, {}, {:id => 'memselect', :onchange => "updateMemberType()" } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :firstname, :class => 'control-label', :id => 'namelabel' %>
    <div class="controls">
      <%= f.text_field :firstname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lastname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lastname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group toHide">
    <%= f.label :orgname, :class => 'control-label', :id => 'orglabel' %>
    <div class="controls">
      <%= f.text_field :orgname, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :joindate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :joindate, :class => 'text_field', 'data-behaviour' => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subscribe, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :subscribe, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn' %>
  </div>
<% end %>

