<% provide(:title, 'Members') %>
<%- model_class = Member -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="container-fluid">
<div class="row-fluid">
<div class="span8 offset2">
<table class="table table-striped">
  <thead>
    <tr>
      <!--<th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:firstname) %></th>
      <th><%= model_class.human_attribute_name(:lastname) %></th>
      <th><%= model_class.human_attribute_name(:orgname) %></th>-->
      <th>Name</th>
      <th><%= model_class.human_attribute_name(:membertype) %></th>
      <th><%= model_class.human_attribute_name(:joindate) %></th>
      <th><%= model_class.human_attribute_name("Total Donations") %></th>
      
      <th>Quick Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.listing_name, member_path(member) %></td>
        <!--<td><%= member.firstname %></td>
        <td><%= member.lastname %></td>
        <td><%= member.orgname %></td>-->
       
        <td><%= Member::MEMBER_TYPES.key(member.membertype) %></td>
        <td><%= member.joindate %></td>
        <td>$<%= member.total_donations %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_member_path(member), :class => 'btn btn-mini btn-info' %>
          <%= link_to('Add Donation', new_member_donation_path(member), class: 'btn btn-mini btn-success')  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<div class="row-fluid">
<div class="span8 offset2">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_member_path,
            :class => 'btn btn-primary' %>
</div>
</div>
</div>